@keyframes cursor-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.haki-verify-code-root-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
}

.haki-verify-code-root-container .haki-verify-code-input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background-color: #eee;
  box-sizing: border-box;
  overflow: hidden; /* hidden掉方角 */
}

.haki-verify-code-root-container .haki-verify-code-input-box-focus {
  border: 1.5px solid #06605a;
}

.haki-verify-code-root-container .haki-verify-code-input-box-error {
  border: 1.5px solid #bd222b;
  background-color: #faeeee;
}

.haki-verify-code-root-container .haki-verify-code-input-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1.5px solid #222;
  box-sizing: border-box;
}

.haki-verify-code-root-container .haki-verify-code-input-line-focus {
  border-bottom: 1.5px solid #06605a;
  box-shadow: 0 2px 4px -1px rgba(6, 96, 90, 0.3);
}

.haki-verify-code-root-container .haki-verify-code-input-line-error {
  border-bottom: 1.5px solid #bd222b;
}

.haki-verify-code-root-container .haki-verify-code-cursor {
  position: absolute;
  top: 14px;
  width: 1.5px;
  height: 20px;
  background: #06605a;
  animation: cursor-blink 1s infinite;
}

.haki-verify-code-root-container .haki-verify-code-real-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  opacity: 0;
}

.haki-verify-code-error {
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #bd222b;
}
