.haki-search-bar-root {
  display: flex;
  align-items: center;
  height: 42px;
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  border: 1.5px solid #ebebeb;
  border-radius: 21px;
  box-sizing: border-box;
}

.haki-search-bar-root .haki-search-bar-search-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.haki-search-bar-root .haki-search-bar-search-form {
  flex: 1;
  display: flex;
  align-items: center;
}

.haki-search-bar-root
  .haki-search-bar-search-form
  .haki-search-bar-search-input {
  width: calc(100% - 37px);
  height: 36px;
  margin-right: 8px;
  font-size: 14px;
  border: none;
  outline: none;
  color: #222;
  font-weight: 500;
  caret-color: #06605a;
}

.haki-search-bar-root
  .haki-search-bar-search-form
  .haki-search-bar-search-input::-moz-placeholder {
  font-size: 14px;
  color: #aaa;
  font-weight: 500;
}

.haki-search-bar-root
  .haki-search-bar-search-form
  .haki-search-bar-search-input::placeholder {
  font-size: 14px;
  color: #aaa;
  font-weight: 500;
}

.haki-search-bar-root
  .haki-search-bar-search-form
  .haki-search-bar-search-input[type='search']::-webkit-search-decoration,
.haki-search-bar-root
  .haki-search-bar-search-form
  .haki-search-bar-search-input[type='search']::-webkit-search-cancel-button,
.haki-search-bar-root
  .haki-search-bar-search-form
  .haki-search-bar-search-input[type='search']::-webkit-search-results-button,
.haki-search-bar-root
  .haki-search-bar-search-form
  .haki-search-bar-search-input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.haki-search-bar-root .haki-search-bar-search-form .haki-search-bar-close-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.haki-search-bar-root-focus {
  border-color: #06605a;
}
